.home-head-title {
  display: flex;
  justify-content: center;
}

.home-head-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  justify-content: space-around;
}
.home-ctn {
  --background: #F5F7F9 !important;
}

.segment {
  border-bottom: 2px solid #f7f7f7;
  --backgroud:  #F5F7F9 !important;
}
.segment-button{
  --indicator-height: 3px;
}

.searchbar-modal{
  --height: 60px;
  --max-width: 90vw;
  align-items: flex-start !important;
  padding-top: 60px;
}

.airdrop-time{
  font-size: 14px;
  padding: 6px 0;
  color: var(--ion-color-medium);
}

.tag-point {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 12px;
  right: 14px;
  background: #FF453A;
  border-radius: 50%;
}

.subop-icon{
  vertical-align: middle;
  color: #b4b9be;
  width: 24px;
  height: 24px;
}

.iconss:hover > img{
  color: var(--ion-color-primary);
}

.iconss:hover {
  color: var(--ion-color-primary) !important;
  font-weight: 600;
}

.subop {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
}

.subpo-div{
  display: flex;
  align-items: center;
  color: #536471;
}

.cert-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -1px;
  right: -10px;
}

.cert-icon img {

}

.seq-title{
  font-family: SFBold;
  font-size: 16px;
  letter-spacing: -0.1px;
}

.seq-title-2{
  font-family: SFProText-Medium;
  font-size: 16px;
  letter-spacing: -0.1px;
}

.airdrop-png2 {
  position: relative;
  padding: 6px 12px;
  overflow: hidden;
  background-size: 270px 89px;
  color: #fff;
  width: 270px;
  height: 89px;
}

.alert-message {
  font-family: SFBold;
  font-size: 16px;
}

.static-icons{
  width: 20px;
  //vertical-align: middle;
  display: flex;
}

.asv-name{
  padding: 0px 6px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: normal;
}