.home-head-title {
  display: flex;
  justify-content: center;
}

.home-head-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100px;
  justify-content: space-around;
}
.home-ctn {
  --background: #F5F7F9 !important;
}

.segment {
  border-bottom: 2px solid #f7f7f7;
  --backgroud:  #F5F7F9 !important;
}
.segment-button{
  --indicator-height: 3px;
}

.searchbar-modal{
  --height: 60px;
  --max-width: 90vw;
  align-items: flex-start !important;
  padding-top: 60px;
}

.airdrop-time{
  font-size: 14px;
  padding: 6px 0;
  color: var(--ion-color-medium);
}

.tag-point {
  position: absolute;
  top: 14px;
  right: 16px;
  display: flex;
  align-items: center;
}
.tag-point-r {
  position: absolute;
  top: 12px;
  left: 14px;
  width: 12px;
  height: 12px;
  background: #FF453A;
  border-radius: 50%;
}

.subop-icon{
  vertical-align: middle;
  color: #b4b9be;
  width: 24px;
  height: 24px;
}

//.iconss:hover > img{
//  color: var(--ion-color-primary);
//}
//
//.iconss:hover {
//  color: var(--ion-color-primary) !important;
//  font-weight: 600;
//}

.subop {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px;
}

.subpo-div{
  display: flex;
  align-items: center;
  color: #536471;
}

.cert-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: -1px;
  right: -10px;
}

.cert-icon img {

}

.seq-title{
  font-family: SFBold;
  font-size: 16px;
  letter-spacing: -0.1px;
}

.seq-title-2{
  font-family: SFProText-Medium;
  font-size: 16px;
  letter-spacing: -0.1px;
}

.airdrop-png2 {
  position: relative;
  padding: 6px 12px;
  overflow: hidden;
  background-size: 270px 89px;
  color: #fff;
  width: 270px;
  height: 89px;
}

.alert-message {
  font-family: SFBold;
  font-size: 16px;
}

.static-icons{
  width: 20px;
  //vertical-align: middle;
  display: flex;
}

.asv-name{
  padding: 0px 6px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  width: 250px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-wrap: normal;
}

.og-card-box{
  //background: #fff;
  border-radius: 12px;
  //padding: 12px;
  background-color: #F2F5F8;
  background-blend-mode: multiply;
}

.og-card-box > div:last-child {
  //border-left: 3px solid var(--ion-color-secondary);
  //padding: 0 0 0 6px;
  background-color: #F2F5F8;
  background-blend-mode: multiply;
  color: #000;
  padding: 12px;
  border-radius: 0 0 12px 12px;
}

.og-card-title {
  font-size: 14px;
  font-weight: 700;

}

.og-card-desc {
  font-size: 13px;
}

.og-card-img {

}

.og-card-url {

}

.og-card-text {
  overflow: hidden;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-family: SFProText-Medium;
  line-height: 1.2;
}

.head-box{
  display: flex;
  align-items: center;
  //justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.head-box > div{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  //overflow: hidden;
  //text-overflow: ellipsis;
  //white-space: nowrap;
}

.headxs {
  padding: 0px 0px 0px 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.head-icons{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.head-icons2{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.right-menu{
  --width: 340px;
}

.ion-avatar-pins{
  width: 48px;
  height: 48px;
  border-radius: 50%;

}

.ion-avatar-pins > img {
  border-radius: 50%;
  object-fit: cover;
}

.head-reg {
  height: 42px;
  width: 42px;
  border-radius: 6px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  transition: background-image 1s ease-in-out;
}

.message-avatar-name {
  text-align: left;
  padding: 0px;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.owner-an {
  justify-content: revert;
  flex-direction: row-reverse;
}