/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */
/*RobotoCondensed-Bold.ttf*/
/*RobotoCondensed-BoldItalic.ttf*/
/*RobotoCondensed-Italic.ttf*/
/*RobotoCondensed-Light.ttf*/
/*RobotoCondensed-LightItalic.ttf*/
/*RobotoCondensed-Regular.ttf*/

@font-face {
  font-family: 'Abel-Regular';
  src: url('./fonts/Abel/Abel-Regular.ttf');
}

@font-face {
  font-family: 'SFProText-Regular';
  src: url('./fonts/SF/FontsFree-Net-SFProText-Regular.ttf');
}
@font-face {
  font-family: 'SFProText-Semibold';
  src: url('./fonts/SF/FontsFree-Net-SFProText-Semibold.ttf');
}
@font-face {
  font-family: 'SFProText-Bold';
  src: url('./fonts/SF/FontsFree-Net-SFProText-Bold.ttf');
}
@font-face {
  font-family: 'SFProText-Regular';
  src: url('./fonts/SF/FontsFree-Net-SFProText-Regular.ttf');
}

/** Ionic CSS Variables **/
:root {

  --ion-font-family: SFProText-Regular;
  /*--border-radius: 20px;*/

  --ion-color-primary: #0620F9;
  --ion-color-primary-rgb: 6,32,249;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #051cdb;
  --ion-color-primary-tint: #1f36fa;

  --ion-color-secondary: #D8F20C;
  --ion-color-secondary-rgb: 216,242,12;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #bed50b;
  --ion-color-secondary-tint: #dcf324;

  --ion-color-tertiary: #F5F7F9;
  --ion-color-tertiary-rgb: 245,247,249;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #d8d9db;
  --ion-color-tertiary-tint: #f6f8fa;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146,148,156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

}