.cat-box {
  max-width: 280px;
  position: relative;
  border-radius: 20px;
  height: 360px;
}

.cat-box-info {
  position: absolute;
  width: 270px;
  height: 360px;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cat-box-info > div {
  margin: 12px;
}

.cat-box-info > div:nth-child(1) {

  font-weight: 600;
  font-size: 16px;
  color: #fff;
}

.cat-box-info-text1 {
  color: #868990;
  font-size: 12px;
  color: rgba(232, 41, 41, 0.7);
}


.cat-box-info-text2 {
  color: #E82929;
  font-size: 18px;
  font-family: SFBold !important;
  background: rgba(232, 41, 41, 0.2);
  border-radius: 9px;
  width: 98px;
  height: 26px;
  display: flex;
  align-items: center;
  padding: 0 6px;
}

.cat-box-info-text3 {
  color: #000;
  font-size: 18px;
  font-family: SFBold !important;
  //margin-top: 4px;
  letter-spacing: -0.21px;
}

.cat-box-info-text4 {
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.cat-desc {
  background: rgba(255, 255, 255, 0.93);
  padding: 10px 12px;
  border-radius: 16px;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(5px);
}

.cat-box-img {
  width: 270px;
  height: 280px;
  position: relative;
  display: flex;
  justify-content: center;
}

.cat-box-img img {
  vertical-align: middle;
  border-radius: 20px;
}

.cat-box-img-div {
  width: 280px;
  height: 360px;
  position: absolute;
  /* background: rgba(0, 0, 0, 0.5); */
  top: 0;
  left: 0;
  border-radius: 20px;
}

.cat-content {
  display: flex;
  justify-content: center;
  padding: 12px;
}

.cat-desc > div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cat-desc > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tribe-cat-modal {
  overflow-y: scroll;
  --background: var(--ion-color-light);
  --border-radius: 20px !important;
  --width: 500px;
  --height: 600px !important;
}

.cat-empty-content {
  display: flex;
  justify-content: center;
  position: relative;
}

.cat-empty-box {
  width: 280px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //border: 2px dashed #868990;
  border-radius: 12px;
  padding: 12px;
  color: #868990;
  background-size: 280px 360px;
  text-align: center;

}

.role-item {
  --background: url("../../img/nokiBg.png");
}

.noki-title {
  /* width: 215px; */
  font-size: 24px;
  text-align: center;
  /* margin-bottom: 12px; */
  color: #ffffff;
  display: flex;
  /* align-items: flex-end; */
  /* justify-content: center; */
  padding: 16px 12px;
  z-index: 1;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.noki-box {
  position: relative;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
}

.noki-title img {
  height: 42px;
}

.noki-title > div:nth-child(2) {
  width: 130px;
  line-height: 0.9 !important;
  text-align: left !important;
  font-family: SF-Pro-Rounded-Bold !important;
}

.noki-ion-modal {
  --width: 100%;
  --height: 100%;
  --background: transparent !important;
}

.noki-ion-content {
  --background: transparent !important;
}

.modal-wrapper, .inner-scroll {
  background: transparent !important;
}

.noki-body {
  position: relative;
  width: 292px;
  height: 368px;
  background: linear-gradient(180deg, #000000 0%, #3C3C3C 85.48%, #464646 100%);
  border-radius: 28px;
}

.noki-body-exist {
  background: linear-gradient(180deg, #333333 0%, #292929 100%) !important;
  border-radius: 28px !important;
  height: 222px !important;
  margin-top: 38px;

}

.noki-body > div:nth-child(2) {
  transform: translateY(-42px);
}

.noki-body > div:nth-child(3) {
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translateY(-24px);
}

.noki-body > div:nth-child(3) > div {
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.21px;
  color: #D1D1D1;
  /* width: 134px; */
  height: 82px;
  flex-direction: column;;

}

.noki-body > div:nth-child(3) > div > div {
  font-family: SFProText-Medium !important;
}

.noki-body-btn {
  width: 292px;
  height: 48px;
  background: #DFFC0D;
  border-radius: 50px;
  position: absolute;
  bottom: -80px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 20px; */
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  font-family: SF-Pro-Rounded-Bold !important;
  color: #333333;
  z-index: 1000;
  cursor: pointer;
}

//.noki-body-box >div:first-child {
//  position: absolute;
//  top: 18px;
//  left: 50%;
//  transform: translate(-50%, 0%);
//  width: 48px;
//  background: var(--ion-color-secondary);
//  height: 48px;
//  border-radius: 50%;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}

.noki-body-box {
  display: flex;
  justify-content: center;
  height: 100%;
  position: relative;
}

.noki-bottom {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 155px;
  z-index: -2;
  width: 125%;
  transform: translateX(-10%);
}

.noki-bottom > div {
  position: relative;
  height: 1000px;
  background: linear-gradient(180deg, #2F2F2F 0%, #0B0B0B 100%);
  border-radius: 210px 210px 0px 0px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.noki-bottom-text {
  width: 300px;
  text-align: center;
  color: #D1D1D1;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  bottom: -200px;
}

.noki-bottom-text > div {
  font-family: SFProText-Medium !important;
  letter-spacing: -0.21px;

}

.noki-status-text {
  width: 266px;
  height: 266px;
  border-radius: 50%;
  background: #333333;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.noki-status-text > div {
  position: absolute;
  height: 20px;
  font-size: 13px;
  background: #464646;
  color: #6C6C6C;
  border-radius: 32px;
  width: 80px;
  text-align: center;
  z-index: 10;
}
.noki-status-active{
  position: absolute;
  height: 20px;
  font-size: 13px;
  background: #DFFC0D;
  color: #333333;
  font-family: SF-Pro-Rounded-Bold !important;
  border-radius: 32px;
  width: 80px;
  text-align: center;
  z-index: 10;
}
.noki-exist {
  bottom: -340px !important;
  width: 368px !important;
}

.font-symbol {
  font-family: SF-Pro-Rounded-Bold !important;
  font-size: 32px;
  color: #F8F8F7;
  background: #404040;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noki-text-btn{
  background: #DFFC0D;
  border-radius: 32px;
  height: 44px;
  width: 157px;
  letter-spacing: -0.21px;
  font-family: SF-Pro-Rounded-Bold !important;
  color: #333333;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noki-item-2{
  display: flex;
  justify-content: space-around;
  padding: 0 60px;
}

.noki-item-3 {
  display: flex;
  align-items: center;
  height: 44px;
  margin-top: 24px;
}

.noki-item-3 > div:nth-child(2){
  height: 44px;
  font-family: 'SF Pro Rounded' !important;
  font-size: 10px;
  line-height: 14px;
  display: flex;
  align-items: center;
  color: #D1D1D1;
  text-align: left;
}

.noki-reward-text {
  position: absolute;
  right: 12px;
  top: 16px;
  color: rgb(248, 248, 247);
  text-align: right;
  text-shadow: rgba(0, 0, 0, 0.25) 0px 0px 4px;
  font-size: 16px;
  font-family: SF-Pro-Rounded-Bold !important;
  z-index: 1;
}

.noki-reward-img{
  border-radius: 20px;
  transform: rotate(-9.42deg) !important;
  display: flex;
  justify-content: center;
}

.noki-reward-number {
  transform: translateY(12px) !important;
  justify-content: center;
  width: 100%;
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 15px;
}

.noki-reward-number > span{
  font-size: 42px !important;
  font-family: SF-Pro-Rounded-Bold !important;
  color: #FFFFFF;
  padding: 12px;
}

.noki-reward-ok{
  width: 292px;
  height: 90px;
  background: #DFFC0D;
  border-radius: 0px 0px 20px 20px;
  display: flex;
  justify-content: center;
  font-size: 20px;
  align-items: center;
  transform: translateY(66px);
  z-index: -1;
  overflow: hidden;
  position: absolute;
  padding-top: 24px;
  font-family: SF-Pro-Rounded-Bold !important;
  bottom: 0;
}

.noki-reward-head {
  display: flex;
  align-items: center;
  /* z-index: 10; */
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
  border-radius: 28px 28px 0px 0px;
}

.my-custom-class{

}